  <div style="text-align:right;">
    <%= link_to '回首頁', root_path,  { :class=>"btn btn-info" } %>
    <%= link_to '找餐廳', restaurant_index_path,  { :class=>"btn btn-info" } %>
    <%= link_to  '看食記' , comments_path,  { :class=>"btn btn-info" } %>
  </div>