<div>
   <div class="row" style="width:100%">
    <div class="col-sm" style="border-right:3px solid #000;text-align:center;">
      <%= link_to image_tag("search.png", {:style => "width:80%;"}), restaurant_index_path%>
    </div>
    <div class="col-sm" style="text-align:center;">
      <%= link_to image_tag("write.png", {:style => "width:80%;"}), comments_path%>
    </div>
  </div>
</div>
