// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 10px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
    
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        border-radius: 5px;
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.pagination { 
    padding:10px !important;
    margin-left : auto !important;
    margin-right : auto !important;
    float:right;
    }